html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video { margin: 0; padding: 0 }
article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block }
blockquote, q { quotes: none }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: top; border: none;
}
abbr, dfn {
  border-bottom: 1px dotted #777;
  cursor: help;
}
select, input, textarea, button {
  vertical-align: middle;
  z-index: 2;
  margin: 0;
}
input[type="radio"], input[type="checkbox"] { margin: -2px 0 1px; }

a:focus {
  outline: thin dotted #373d41;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}


// Color & Font

body {
  background: $white;
  color: $text-color;
  font-family: Tahoma, Helvetica, 'Microsoft YaHei', Arial, "\5b8b\4f53", sans-serif;
  // font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol',sans-serif;
  font-size: 14px;
  line-height: 1.7142em;
}

pre, code { font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",'Microsoft YaHei', Arial,monospace; }

a {
  color: $link-color;
}

a:hover,
a:active {

}

blockquote,
code,
figure,
img,
pre,
table,
tr {
  page-break-inside: avoid
}

h2,
h3,
h4,
h5,
p {
  orphans: 3;
  widows: 3
}

h1,
h2,
h3,
h4,
h5 {
  page-break-after: avoid
}

b,
strong {
  font-weight: 700
}

em {
  font-style: italic
}

blockquote,
dl,
ol,
p,
div.row,
table,
ul {
  margin-top: 0;
  margin-bottom: .85em
}

a {
  background: 0 0;
  color: #4183c4;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: underline
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
}

hr {
  overflow: hidden;
  margin: 1.7em 0;
  padding: 0;
  height: 4px;
  border: none;
  background-color: #e7e7e7;
}

hr:after,
hr:before {
  display: table;
  content: " "
}

hr:after {
  clear: both
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.275em;
  margin-bottom: .85em;
  font-weight: 700
}

h1 {
  font-size: 2em
}

h2 {
  font-size: 1.75em
}

h3 {
  font-size: 1.5em
}

h4 {
  font-size: 1.25em
}

h5 {
  font-size: 1em
}

h6 {
  color: #777;
  font-size: 1em;
}

code,
pre {
  margin: 0;
  padding: 0;
  border: none;
  color: inherit;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  direction: ltr;
}

pre {
  overflow: auto;
  margin: 0;
  margin-bottom: 1.275em;
  padding: .85em 1em;
  background: #f7f7f7;
  word-wrap: normal;
}

pre>code {
  display: inline;
  overflow: initial;
  margin: 0;
  padding: 0 !important;
  max-width: initial;
  background: none;
  white-space: pre;
  font-size: .85em;
  line-height: inherit;
}

pre>code:after,
pre>code:before {
  content: normal
}

code {
  margin: 0;
  padding: .2em;
  background-color: #f7f7f7;
  font-size: .85em;
}

code:after,
code:before {
  content: "\00a0";
  letter-spacing: -.2em;
}

table {
  display: table;
  overflow: auto;
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

table td,
table th {
  padding: 6px 13px;
  border: 1px solid #ddd
}

table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}

table tr:nth-child(2n) {
  background-color: #f8f8f8
}

table th {
  font-weight: 700
}

ol,
ul {
  margin: 0;
  margin-bottom: .85em;
  padding: 0;
  padding-left: 2em
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-top: 0;
  margin-bottom: 0
}

ol ol {
  list-style-type: lower-roman
}

blockquote {
  margin: 0;
  margin-bottom: .85em;
  padding: 0 15px;
  border-left: 4px solid #e5e5e5;
  color: #858585;
}

blockquote:first-child {
  margin-top: 0
}

blockquote:last-child {
  margin-bottom: 0
}

dl {
  padding: 0
}

dl dt {
  margin-top: .85em;
  padding: 0;
  font-weight: 700;
  font-style: italic;
}

dl dd {
  margin-bottom: .85em;
  padding: 0 .85em;
}

dd {
  margin-left: 0
}

.glossary-term {
  text-decoration: underline;
  cursor: help;
}

// background
@mixin bg-color ($name, $color) {
	.bg-#{"" + $name} {
		background-color: $color;
	}
}

@each $name, $color in $color-list {
	@include bg-color($name, $color);
}

// text color
@mixin text-color ($name, $color) {
	.color-#{"" + $name} {
		color: $color;
	}
}

@each $name, $color in $color-list {
	@include text-color($name, $color);
}
